/* header seaction */

.class-1 {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: antiquewhite;

}

.class-2 {
    display: flex;
    font-size: 30px;
    padding: 0 150px;
    gap: 20px;
}

#icon-1 {
    margin-top: 40px;
    color: rgb(228, 11, 83);
}

.class-3,
.class-4,
.class-5 {
    display: flex;
    gap: 20px;
}

.class-3 {
    margin: 30px 200px;


}

#icon-2 {
    margin-top: 15px;
    color: red;
    font-size: 20px;
}

#icon-3 {
    margin-top: 15px;
    font-size: 20px;
}

.class-5 {
    padding-left: 40px;
}

.class-g {
    color: rgb(228, 11, 83);

}

.class-5:hover {
    height: 40px;
    width: 200px;
    background-color: gainsboro;
    border-radius: 20px;
    /* margin-left: none; */
}

id-2 {
    color: red;
}

/* main section */
/* first seaction */

.unic {
    font-size: 35px;
}

.class-6 {
    display: flex;
    background-color: gainsboro;
}

.class-7 {
    display: flex;
}

#icon-4 {
    margin-top: 15px;
    color: rgb(228, 11, 83);
}

#icon-5 {
    margin-top: 15px;
}

.class-8 {
    margin: 100px 150px 80px 200px;
}

.img-1 {
    width: 500px;
    height: 500px;
    margin-left: 100px;
}

.button-1 {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: rgba(236, 9, 47, 0.622);
}

.button-2 {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: aqua;
}

/* second section */
.unic-2 {
    font-size: 30px;
    color: rgb(245, 6, 46);
}

.class-9 {
    display: flex;
    background-color: gainsboro;

}

.img-2 {
    width: 600px;
    height: 300px;
    margin-left: 150px;
    margin-top: 50px;
}

.class-10 {
    margin-right: 150px;
    text-align: right;
    padding-top: 40px;
}

.button-3 {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background-color: rgba(236, 9, 47, 0.622);
}

.h3 {
    color: rgb(60, 55, 55);
}

/* third section */

.class-12 {
    text-align: center;
    justify-content: center;
}

.h-1 {
    font-size: 30px;
    margin-bottom: 0;
}

.class-13 {
    display: flex;
    margin-left: 150px;
    gap: 15px;
}

/* .class-14 {
    height: 400px;
    width: 300px;
} */


#img-3 {
    height: 300px;
    width: 250px;
}

#img-4 {
    height: 300px;
    width: 250px;
}

.class-11 {
    background-color: gainsboro;
    margin-top: 0;
    border: 5px solid gainsboro;
}

/* fourth section */

.class-15 {
    display: flex;
    padding-top: 40px;

}

.class-18 {
    background-color: gainsboro;
    height: 500px;
}

.class-16 {
    margin-top: 150px;
    margin-left: 300px;
}

#img-5 {
    height: 400px;
    width: 400px;
    margin-left: 150px;
}

.img-6 {
    height: 250px;
    width: 200;
    position: relative;
    left: 600px;
    bottom: 200px;
}

.span-2 {
    color: rgb(232, 13, 93);
}

/* fifth section */

.class-19 {
    background-color: antiquewhite;
}

.class-20,
.class-21 {
    display: flex;
    gap: 10px;
}

.class-20 {
    gap: 20px;
    margin-left: 200px;
    padding: 50px 0;
    height: 50px;

}

.class-21:hover {
    height: 50px;
    width: 200px;
    border: 2px solid rgb(229, 8, 45);
    border-radius: 20px;
    margin-bottom: 50px;
    background-color: azure;
}

/* footer section */



.class-22 {
    display: flex;
    gap: 20px;

    margin: 0 600px;
    font-size: 30px;
    color: azure;
    padding-top: 30px;
}

.class-23 {
    display: flex;
    gap: 20px;
    margin-left: 450px;
    color: azure;
}

.class-24 {
    display: flex;
    gap: 20px;
    margin-left: 550px;
    font-size: 30px;
    color: wheat;
}

.class-25 {
    display: flex;
    gap: 20px;
    margin-left: 450px;
    color: azure;
}

.class-26 {
    margin-left: 520px;
    color: wheat;
}

.class-27 {
    background-color: rgb(30, 33, 34);
    height: 400px;
}

/* mobile section */

@media screen and (max-width: 576px) {
    .class-1 {
        width: 100%;
        height: 400px;
        flex-direction: column;
        border: 2px solid red;
    }

    .class-2 {
        justify-content: center;
        text-align: center;
        padding-top: 100px 0;
    }

    .class-4 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 0;
    }

    .class-3 {
        flex-direction: column;
        padding-top: 0;
    }

    .class-5 {
        justify-content: center;
        text-align: center;
        margin-bottom: 100px;
    }

    /* second section */

    .class-6 {
        flex-direction: column-reverse;


    }

    /* .class-8 {
        text-align: center;
    } */


    .img-1 {
        width: 400px;
        height: 400px;
        position: relative;
        right: 40px;
    }

    /* third section */

    .class-9 {
        flex-direction: column;
    }

    .img-2 {
        width: 400px;
        height: 400px;
        position: relative;
        right: 80px;
    }

    .class-10 {
        justify-content: center;
        text-align: center;
        padding-left: 150px;
    }

    /* fourth section  */

    .class-13 {
        flex-direction: column;
    }

    /* sectio five */

    .class-15 {
        flex-direction: column;
        height: 600px;
    }

    .class-16 {
        position: relative;
        top: 300px;
        right: 150px;
    }

    .class-18 {
        height: 800px;
    }

    #img-5 {
        position: relative;
        right: 110px;
        bottom: 400px;
    }

    .img-6 {
        margin-right: 200px;
    }

    .class-20 {
        flex-direction: column;
    }

    .class-19 {
        height: 500px;

    }

    /* .class23 {
        flex-direction: column;
    } */

    /* .class-24 {
        flex-direction: column;
    } */

    /* .class-25 {
        flex-direction: column;
    } */

    .class-27 {
        width: 100%;
        justify-content: center;
        text-align: center;
    }


}